    html {
      height: 100%;
    }
    body {
       height: 100%;
       font-family:fantasy;
       background: linear-gradient(to bottom, #aebcbf 0%,#aebcbf 10%,#6e7774 35%,#6e7774 35%,#0a0809 79%);
       color: white;
    }

    header {
        background-color:;
        padding:5px;
        font-size: ;
        display: block;
        width: 790px;
        color: #254372;
    }
    nav {
        line-height:;
        background-color:;
        width:125px;
        display: inline-block;
        vertical-align: top;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: ;
    }
    section {
        width: 516px;
        display: inline-block;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        text-align:;
        padding:5px;
        display: block;
    }
